###################################
# Maven
###################################
target/
**/target/

# manter target dentro de src se necessário
!**/src/main/**/target/
!**/src/test/**/target/

###################################
# Logs
###################################
*.log

###################################
# Build
###################################
*.class
*.jar
*.war
*.ear

###################################
# IntelliJ IDEA
###################################
.idea/
*.iws
*.iml
*.ipr
out/

###################################
# VSCode
###################################
.vscode/

###################################
# OS Files
###################################
.DS_Store
Thumbs.db

###################################
# Environment files
###################################
.env
.env.*

###################################
# Spring Boot
###################################
application-local.yml
application-local.properties

###################################
# Generated sources
###################################
target/generated-sources/
target/generated-test-sources/

###################################
# Lombok
###################################
.lombok

###################################
# Node (caso tenha frontend)
###################################
node_modules/
dist/
build/